.modal-body {
    padding: 2vw;
    text-align: center;
}

.user-diet-text {
    font-weight: 500;
}

.category-heading {
    font-weight: 500;
    font-size: 2rem;
    color: #282c34;
}

.text1 {
    font-size: 1000px;
}
