.previous-page-button {
    text-decoration: none;
}

.loading-spinner {
    display:flex;
    justify-content: center;
    padding-top: 25vh;

}

.loading-spinner-recipes {
    padding-top: 1vh;
    display:flex;
    justify-content: center;
}

.title {
    text-align: center;
}

.grid-container {
    padding-left: 1.5vw;
}

.top-contents {
    justify-content: center;
    width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
}

.title-content {
    width: 100%;
}

.button-content {
    justify-content: center;
    display: flex;
    width:100%;
    padding-bottom: 1vh;
}